/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background: #34557E;
 }

 .navbar.navbar-default{
   background: white;
   border: 1px gray solid;
 }

 button#ache{
   background-color: #c1c1c1;
 }

 .navbar-brand{
   font-size: 25px;
 }

 .review_title{
   margin: 0 0 20px 0;
 }

 .reviews{
   padding: 15px 0;
   border-bottom: 1px solid #4BF9CE;
   .star-rating{
     padding-bottom: 0px;
   }
 }

div .crud-login{
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: white;
  text-align: center;
  color: #0b3365;
  width: 400px;
}
