// Place all the styles related to the Filmes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titulos{
  color: #0b3365;
  font-family: monospace;
}
