<% if !usuario_signed_in? %>
  <div class="jumbotron">
    <h1>Seus filmes favoritos revisados!</h1>
    <p> Procurando um filme para aquele encontro? Para assistir em família? Para trolar seu irmão? Para se divertir? </p>
    <p> Saiba a qualidade dos filmes pela melhor crítica: a comunidade! </p>
    <p> Entre na comunidade online dos maníacos por filmes e compartilhe suas revisões conosco! </p>
    <p><%= link_to "Quero participar!", new_usuario_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @filmes.each do |filme| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag filme.image.url(:medium), class: 'Image'), filme %>
      </div>
    </div>
  <% end %>
</div>
