<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag@filme.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
                <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td class="titulos"><strong>Titulo:</strong></td>
              <td><%= @filme.titulo %></td>
            </tr>
            <tr>
              <td class="titulos"><strong>Duração:</strong></td>
              <td><%= @filme.duracao %></td>
            </tr>
            <tr>
              <td class="titulos"><strong>Diretor:</strong></td>
              <td><%= @filme.diretor %></td>
            </tr>
            <tr>
              <td class="titulos"><strong>Classificacao:</strong></td>
              <td><%= @filme.classificacao %></td>
            </tr>
          </table>
          <%= link_to "Escreva o que achou do filme", new_filme_review_path(@filme) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title" style="color: #0b3365"><%= @filme.titulo %></h1>
        <p style="color: gray"><%= @filme.descricao %></p>
        <% if @reviews.blank? %>
          <h3>Até agora sem nenhuma revisão. Gostaria de ser o primeiro?</h3>
          <%= link_to "Escrever Revisão", new_filme_review_path(@filme), class: "btn btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="review">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Voltar', filmes_path %>
<%if current_usuario.try(:admin?)%>
  <%= link_to 'Editar', edit_filme_path(@filme) %>
  <%= link_to 'Deletar', @filme, method: :delete, data: { confirm: 'Tem certeza?' } %>
<%end%>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
