<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Mudar navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Movie Maniac", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%if current_usuario.try(:admin?) %>
        <li><%= link_to "Sair", destroy_usuario_session_path, method: "delete" %></li>
        <li><%= link_to "Novo Filme", new_filme_path, class: "active" %></li>
        <li><%= link_to "Conta", edit_usuario_registration_path %></li>
        <% elsif usuario_signed_in? %>
          <li><%= link_to "Sair", destroy_usuario_session_path, method: "delete" %></li>
          <li><%= link_to "Conta", edit_usuario_registration_path %></li>
        <% else %>
          <li><%= link_to "Cadastre-se", new_usuario_registration_path, class: "active" %></li>
          <li><%= link_to "Login", new_usuario_session_path, class: "active" %></li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Digite aqui o que deseja achar">
        </div>
        <button type="submit" class="btn btn-default" id="ache">Procurar</button>
      </form>
    </div>
  </div>
</nav>
