<p>Olá <%= @resource.email %>!</p>

<p>Foi requisitado um link para mudança de senha. Você pode fazer o mesmo através do seguinte link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou o link, apenas ignore este email.</p>
<p>Sua senha não mudará a menos que seja acessado o link acima.</p>
