<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi travada devido ao grande número de tentativas de login falhas.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
